* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: montserrat;
}

img {
  width: 100%;
}

 nav .menu-open {
  top: 100%;
}

 nav .menu-closed {
  top: -300%;
}

nav .menu {
  background-color: #D19C75;
  color: #F6F6F6;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  font-size: 24px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ECECEC;
  padding: 2% 5%;
  position: relative;
  z-index: 1;
}

nav .left {
  width: 24%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -1;
  transition: top ease-in-out .5s;
}

nav .left a {
  color: #D19C75;
  font-size: 18px;
}

nav .logo {
  color: #9E6236;
  user-select: none;
  font-family: kalam;
}

nav .right {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .right i {
  color: #D19C75;
  font-size: 20px;
  cursor: pointer;
}

nav .right .signup {
  color: #ECECEC;
  background-color: #D19C75;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 6px;
}

nav .left .signup-m {
  color: #ECECEC;
  background-color: #D19C75;
  font-size: 18px;
  padding: 4px 16px;
  border-radius: 6px;
  display: none;
}

.prompt {
  margin: 8% 0;
}

.prompt h1 {
  text-align: center;
}

.cart-empty {
  color: #333;
  text-align: center;
  margin: 4% 0 8%;
}

.cart-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4%;
}

.cart-heading h2 {
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: #444;
}

.cart-heading span {
  background-color: #ECECEC;
  color: #D19C75;
  font-size: 22px;
  font-weight: 500;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.cart {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 5%;
  margin-bottom: 4%;
}

.cart-items {
  width: 55%;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 4%;
  border: 1px solid #D19C75;
  border-radius: 10px;
  margin-bottom: 5%;
}

.cart-item-image {
  background: #a7a7a76c;
  padding: 1% 0;
  height: 150px;
  width: 22%;
  border-radius: 10px;
}

.cart-item-image img {
  height: 100%;
}

.description {
  width: 70%;
}

.description .top {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}

.description .product-name {
  margin-left: 0;
  margin-bottom: 5px;
}

.description .price {
  margin: 0;
  font-size: 18px;
  color: #D19C75;
}

.description .middle {
  display: flex;
  margin-bottom: 3%;
}

.description .middle .size-tag {
  margin-top: 1.5%;
  font-size: 17px;
  font-weight: 500;
}

.description .middle li:nth-child(2) {
  background-color: #D19C75;
  color: #F6F6F6;
}

.description .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom .qty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 44%;
}

.bottom .qty p {
  font-weight: 500;
}

.bottom .qty .amount {
  width: 50%;
}

.remove {
  color: #333;
  cursor: pointer;
  padding: 4px 8px;
  border: 1px solid #D19C75;
  border-radius: 6px;
  transition: background-color ease-in .2s;
}

.remove:hover {
  background-color: #D19C75;
  color: #ECECEC;
}

.product-page {
  display: flex;
  justify-content: center;
}

.product-page .product-card {
  margin: 6% 0;
  width: 23%;
  background: linear-gradient(#959595, #F6F6F6);
  padding: 1% 0;
  border-radius: 10px;
  box-shadow: 0 1px 2px #959595;
}

.order-summary {
  background-color: #a7a7a754;
  border: 1px solid #D19C75;
  border-radius: 10px;
  width: 28%;
  padding: 2%;
}

.order-summary h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 7%;
  position: relative;
}

.summary .st, .summary .sf, .summary .ta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7%;
}

.summary .st h4, .summary .sf h4, .summary .ta h4 {
  font-weight: 500;
}

.order-summary .ptc {
  display: block;
  width: 85%;
  margin: 12% auto 8%;
  text-align: center;
  padding: 10px 0;
  background-color: #D19C75;
  color: #ECECEC;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.order-completed {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  background-color: #D19C75;
  width: 50%;
  transform: translate(-50%, -50%);
  padding: 6% 0;
}

.order-completed h2 {
  margin-bottom: 4%;
  color: #333;
}

.order-completed .mid {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: #eee;
  margin-bottom: 4%;
}

.order-completed button {
  margin-top: 4%;
  background-color: #eee;
  border: #D19C75;
  cursor: pointer;
  padding: 2px 8px;
  border-radius: 6px;
  font-size: 1.1rem;
}

.coupon-code .cc {
  font-weight: 500;
  font-size: 20px;
}

.coupon-code input {
  display: block;
  width: 100%;
  margin: 6% 0 8%;
  outline: none;
  border: 1px solid #D19C75;
  border-radius: 8px;
  padding: 8px 0;
  font-size: 20px;
  padding-left: 4%;
}

.coupon-code .ac {
  background-color: #9595956b;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.checkout-heading {
  display: inline-block;
  font-size: 1.3rem;
  cursor: pointer;
  margin: 4% 0 4% 6%;
}

.checkout {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 6%;
  margin-bottom: 10%;
}

.checkout .left {
  width: 50%;
}

.checkout .left h3 {
  color: #333;
}

.checkout .left .name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 6%;
}

.checkout .left input {
  outline: none;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
}

.name .first-name h3, .name .last-name h3 {
  margin-bottom: 10px;
}

.checkout .left .cor {
  margin: 6% 0;
}

.checkout .left select {
  margin-top: 10px;
  width: 100%;
  border-radius: 6px;
  padding: 8px 0;
  outline: none;
  font-size: 20px;
}

.checkout .left .sa {
  margin-bottom: 6%;
}

.checkout .left .sa h3, .checkout .left .tcp .tc h3, .checkout .left .tcp .p h3, .checkout .left .pc h3, .checkout .left .em h3, .checkout .left .on h3 {
  margin-bottom: 10px;
}

.checkout .left .sa input, .checkout .left .pc input, .checkout .left .em input {
  width: 100%;
}

.checkout .left .tcp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 6%;
}

.checkout .left .pc, .checkout .left .em {
  margin-bottom: 6%;
}

.checkout .left .on textarea {
  width: 100%;
  font-size: 20px;
  padding-left: 1%;
}

.checkout .left .on {
  margin-bottom: 12%;
}

.checkout .order-summary {
  width: 34%;
}

.checkout .order-summary .payment-method {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 6% 0 4%;
}

.checkout .order-summary .payment-method .dbt {
  list-style: disc;
  margin-left: 2%;
  font-size: 18px;
  font-weight: 500;
  margin-top: 2%;
  margin-bottom: 3%;
}

.checkout .order-summary .payment-method .dbt::marker {
  font-size: 22px;
}

.checkout .order-summary .payment-method small {
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin-bottom: 6%;
  padding-left: 2%;
}

.checkout .order-summary .payment-method .cpmt, .checkout .order-summary .payment-method .ppl {
  padding-left: 3%;
  margin-bottom: 4%;
  font-weight: 600;
}

.checkout .order-summary .tcs {
  margin-top: 6%;
}

.checkout .order-summary .tcs small {
  display: block;
  margin: 6% 0;
  text-align: center;
}

.checkout .order-summary .tcs span {
  display: block;
  background-color: #D19C75;
  color: #ECECEC;
  width: 45%;
  padding: 12px 0;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.shop-heading {
  margin-top: 6%;
  text-align: center;
  color: #9E6236;
}

.shop-sections {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 4%;
  row-gap: 25px;
}

.shop-links a {
  border: 1.8px solid #D19C75;
  padding: 3px 10px;
  border-radius: 6px;
  color: #D19C75;
}

.shop-sections li:nth-child(2) a {
  color: #ECECEC;
  background-color: #D19C75;
}

.shop {
  margin-top: 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  column-gap: 6%;
  row-gap: 30px;
}

.card {
  width: 23%;
  background: linear-gradient(#959595, #F6F6F6);
  padding: 1% 0;
  border-radius: 10px;
  box-shadow: 0 1px 2px #959595;
}

.card-image {
  height: 260px;
  padding: 0 8%;
  margin-bottom: 12px;
}

.card-image img {
  height: 100%;
}

.product-name {
  margin-left: 2%;
  margin-bottom: 2px;
  color: #333;
  font-weight: 500;
}

.product-design {
  display: block;
  margin-left: 2%;
  margin-bottom: 6px;
}

.sizes {
  margin-left: 2%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  column-gap: 4%;
}

.s, .m, .l, .xl {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #F6F6F6;
  color: #959595;
  cursor: pointer;
}

.s:active, .m:active, .l:active, .xl:active {
  background-color: #D19C75;
  color: #ECECEC;
}

.s:hover, .m:hover, .l:hover, .xl:hover {
  background-color: #D19C75;
  color: #ECECEC;
}

.price {
  margin-left: 4%;
  margin-bottom: 10px;
  font-size: 20px;
}

.amount-and-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}

.amount {
  width: 28%;
  padding: 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.8px solid #D19C75;
  border-radius: 6px;
}

.amount .increment, .amount .decrement {
  cursor: pointer;
}

.amount input {
  height: 24px;
  width: 50%;
  border: none;
  outline: none;
  text-align: center;
  background-color: transparent;
}

.btn {
  background-color: #D19C75;
  border: none;
  color: #ECECEC;
  cursor: pointer;
  padding: 7px 20px;
  border-radius: 6px;
}

.btn:active {
  transform: scale(.9);
  box-shadow: inset 0 0 0 4px #959595;
}

.more-items {
  margin: 12% 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 3%;
  row-gap: 20px;
}

.previous-page, .next-page {
  border: 1.8px solid #D19C75;
  padding: 6px 16px;
  border-radius: 6px;
}

.page-1, .page-2, .page-3, .page-4 {
  border: 1.8px solid #D19C75;
  padding: 6px 14px;
  border-radius: 6px;
}

.more-items a {
  font-size: 18px;
  color: #444;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 6%;
  background-color: #D19C75;
  row-gap: 30px;
}

footer .left {
  width: 25%;
}

footer .left h1 {
  margin-bottom: 10px;
  color: #ECECEC;
  user-select: none;
}

footer .left p {
  color: #ddd;
  font-size: 18px;
  margin-bottom: 16px;
}

footer .social-media-icons {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .social-media-icons i {
  font-size: 26px;
  color: #333;
}

.shop-with-us h3 {
  color: #ddd;
  font-size: 22px;
  margin-bottom: 20px;
}

.shop-with-us li {
  margin-bottom: 14px;
}

.shop-with-us a {
  color: #ddd;
}

.privacy-policy h3 {
  color: #ddd;
  font-size: 22px;
  margin-bottom: 20px;
}

.privacy-policy li {
  margin-bottom: 14px;
}

.privacy-policy a {
  color: #ddd;
}

.contact-us h3 {
  color: #ddd;
  font-size: 22px;
  margin-bottom: 20px;
}

.contact-us li {
  margin-bottom: 14px;
  color: #ddd;
}

@media screen and (max-width: 1200px) {
  nav {
    padding: 2% 4%;
  }

  nav .left {
    width: 28%;
  }

  nav .right {
    width: 22%;
  }

  .shop {
    column-gap: 4%;
  }

  .card {
    width: 28%;
  }

  footer {
    padding: 2% 5%;
  }
}

@media screen and (max-width: 1024px) {
  .checkout .order-summary {
    width: 40%;
  }

  .product-page .product-card {
    width: 30%;
  }

  .checkout .order-summary .payment-method .dbt {
    margin-left: 4%;
  }
}

@media screen and (max-width: 992px) {
  nav .left {
    width: 30%;
  }

  nav .right {
    width: 24%;
  }

  .order-summary {
    width: 32%;
  }

  .order-completed {
    width: 60%;
  }

  .checkout .order-summary {
    width: 38%;
  }
  
  .checkout {
    padding: 0 2%;
  }

  .checkout .left {
    width: 60%;
  }

  .bottom .qty {
    width: 60%;
  }

  .shop-sections {
    margin-top: 3%;
  }

  .shop {
    column-gap: 3%;
  }

  .card {
    width: 30%;
  }

  .card-image {
    height: 240px;
  }

  footer {
    padding: 2% 4%;
  }

  footer .left {
    width: 30%;
  }

  footer .left p {
    font-size: 17px;
  }

  footer .social-media-icons {
    width: 50%;
  }

  .shop-with-us a, .privacy-policy a, .contact-us li {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  nav .left {
    width: 36%;
  }

  nav .right {
    width: 28%;
  }

  .product-page .product-card {
    width: 42%;
  }

  .cart {
    column-gap: 3%;
  }

  .cart-items {
    width: 58%;
  }

  .cart-item {
    padding: 2%;
  }

  .cart-item-image {
    width: 28%;
  }

  .description .product-name {
    font-size: 18px;
  }

  .order-summary {
    padding: 2% .5%;
    width: 35%;
  }

  .coupon-code .cc, .coupon-code .ac {
    margin-left: 4%;
  }

  .coupon-code input {
    width: 92%;
    margin: 6% auto 8%;
    font-size: 18px;
  }

  .checkout {
    flex-direction: column;
    align-items: center;
  }

  .checkout .left {
    width: 90%;
    overflow: auto;
  }

  .checkout .order-summary {
    width: 90%;
    padding: 2%;
  }

  .amount-and-add .amount {
    width: 32%;
  }

  .amount-and-add .btn {
    padding: 6px 12px;
  }

  footer {
    padding: 2%;
  }

  footer .left {
    width: 28%;
  }

  footer .left .social-media-icons {
    width: 60%;
  }
}

@media screen and (max-width: 640px) {
  nav {
    padding: 4% 6%;
  }

  nav .menu {
    display: block;
  }

  nav .left {
    position: absolute;
    width: 100%;
    left: 0;
    display: block;
    padding-top: 12px;
    background-color: #ECECEC;
  }

  nav .left li {
    text-align: center;
    margin-bottom: 14px;
  }

  nav .left a {
    font-size: 20px;
  }

  nav .right {
    width: 14%;
    align-items: initial;
  }

  nav .right .signup {
    display: none;
  }

  nav .left .signup-m {
    display: inline-block;
  }

  .product-page .product-card {
    width: 48%;
  }

  .cart {
    flex-direction: column;
    align-items: center;
  }

  .cart-items {
    width: 80%;
  }
  
  .cart-item {
    margin-bottom: 8%;
  }

  .order-summary {
    width: 80%;
    margin: 12% 0 20%;
    padding: 4%;
  }

  .order-summary .ptc {
    width: 70%;
  }

  .order-completed {
    width: 75%;
  }

  .checkout .left input {
    padding: 10px 0;
  }

  .shop {
    column-gap: 4%;
  }

  .shop .card {
    width: 45%;
  }

  footer {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10%;
    padding: 6% 2%;
  }

  footer .left .social-media-icons {
    margin: 0 auto;
    width: 70%;
  }

  footer .left, footer .shop-with-us, footer .privacy-policy, footer .contact-us {
    width: 40%;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  nav .right {
    width: 16%;
  }

  .product-page .product-card {
    width: 52%;
  }

  .prompt {
    margin: 12% 0;
  }

  .prompt h1, .cart-empty {
    font-size: 0.8rem;
  }

  .cart-empty {
    margin: 12% 0;
    font-size: 0.8rem;
  }

  .cart-items {
    width: 85%;
  }
  
  .cart-item {
    margin-bottom: 8%;
  }

  .cart-item-image {
    width: 34%;
  }

  .description {
    width: 64%;
  }

  .description .price {
    position: absolute;
    top: 116%;
  }

  .description .middle {
    margin-top: 14%;
  }

  .description .price {
    margin: 0;
    font-size: 18px;
    color: #D19C75;
}

  .order-summary {
    width: 85%;
  }

  .checkout .left .name, .checkout .left .tcp {
    row-gap: 16px;
  }

  .product-name {
    font-size: 18px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 430px) {
  nav .right {
    width: 18%;
  }

  .product-page .product-card {
    width: 62%;
  }

  .cart-heading h2 {
    font-size: 18px;
  }

  .cart-heading span {
    font-size: 19px;
    font-weight: 400;
  }

  .cart-items {
    width: 92%;
  }

  .description .middle {
    margin-top: 20%;
  }

  .description .middle .size-tag {
    margin-top: 3%;
  }

  .description .bottom {
    flex-wrap: wrap;
    row-gap: 4px;
  }

  .bottom .qty {
    width: 85%;
  }

  .order-summary .ptc {
    width: 75%;
  }

  .checkout .order-summary .payment-method .dbt {
    margin-left: 6%;
  }

  .order-completed {
    width: 85%;
  }

  .shop .card {
    width: 70%;
    padding: 2% 0;
  }

  .card-image {
    padding: 0 6%;
  }

  .product-name {
    margin-left: 2.7%;
  }

  footer {
    padding: 6% 0;
    column-gap: 5%;
  }

  footer .left, footer .shop-with-us, footer .privacy-policy, footer .contact-us {
    width: 45%;
    text-align: center;
  }

  .shop-with-us a, .privacy-policy a, .contact-us li {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .product-page .product-card {
    width: 75%;
  }

  .shop-heading {
    margin-top: 10%;
  }

  .shop-sections {
    margin-top: 5%;
  }

  .shop {
    margin-top: 12%;
  }

  .shop .card {
    width: 80%;
  }

  footer {
    flex-direction: column;
    row-gap: 25px;
  }

  footer .left, footer .shop-with-us, footer .privacy-policy, footer .contact-us {
    width: 85%;
    text-align: center;
  }

  footer .left .social-media-icons {
    width: 50%;
  }

  .shop-with-us li, .privacy-policy li, .contact-us li {
    margin-bottom: 12px;
  }
}